<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-01-03T09:36:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/xor2/Documents/IOSApplicationProject/Shibusawa Walker/Shibusawa Walker.xcodeproj</string>
</dict>
</plist>
